.container {
  max-width: 1400px;
  margin: 0 auto;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.page-title {
  margin: 0 auto;
  margin-bottom: 20px;
}